### Configuración Resend
RESEND_API_KEY=
RESEND_WEBHOOK_SECRET=
RESEND_FROM_EMAIL="Ortega Construcciones <onboarding@resend.dev>"
CONTACT_RECIPIENT_EMAIL=recipient@example.com

### Configuración Google Ads
NEXT_PUBLIC_GOOGLE_ADS_ID=AW-18045720772
NEXT_PUBLIC_GOOGLE_ADS_FORM_CONVERSION_LABEL=eLlmCLz55pAcEMSx75xD
NEXT_PUBLIC_GOOGLE_ADS_WHATSAPP_CONVERSION_LABEL=me9iCL_55pAcEMSx75xD

### Configuración información de contacto
NEXT_PUBLIC_PHONE_NUMBER_EXTENSION=598
NEXT_PUBLIC_PHONE_NUMBER=099 110 347
NEXT_PUBLIC_CONTACT_EMAIL=contacto@ortegaconstrucciones.com.uy
NEXT_PUBLIC_AV_TIME="Lunes a viernes, 7:00 a 19:00"